*{
padding: 0;
margin: 0;
}

 .navbar {
   position: relative;
   background: black;
   background-size: 50px;

}


#navlist {
  list-style: none;
  display: flex;
 height: 100px;
  background: rgb(198, 5, 5);
  border-radius: 45px;
}
.logo-img{
  height: 100px;
   width: 7%;
   border-radius: 550px;
   margin-right: 300px;
}

#navlist li {
 flex: auto;
 text-align: center;
 padding: 1.6em;
 font-size: 18px;
 color: white;
}

#navlist li:hover {
background: rgb(14, 4, 4);
/* height: 35px;
width: 10px; */
border-radius: 30px;
}




/* footer CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed .footer-left p {
   color: #8f9296;
   font-size: 14px;
   margin: 0;
 }

 .footer-distributed p.footer-links {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   margin: 0 0 10px;
   padding: 0;
   transition: ease .25s;
 }